{% extends 'base.html' %}
{% block title %}
Agregar una nueva Asignatura
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function validar() {
		var estaTodoOK = true;
		if (document.getElementById("nombre").value=="") {
			estaTodoOK = false;
		}

		if (document.getElementById("peso").value=="" || isNaN(document.getElementById("peso").value)) {
				estaTodoOK = false;	
		}			
		if (!estaTodoOK) {
			alert("Algunos datos tienen errores, por favor corríjalos");	
		}
		return estaTodoOK;
	}
</script>
{% endblock %}
{% block content %}
	<h1>Agregar una nueva asignatura</h1>
	<br><br><br>
	<form action="." method="POST" enctype="multipart/form-data" onsubmit="return validar();">
		{% csrf_token %}
		<input type="text" name="nombre" id="nombre" rows=8 cols=10 onKeyDown="textCounter(this.form.nombre,this.form.remLen,100);" onKeyUp="textCounter(this.form.nombre,this.form.remLen,100);" placeholder="nombre">
		<br>
		<input readonly type=text name=remLen size=3 maxlength=3 value="100" style="width:25px">
		<p><input type="text" name="peso" id="peso" placeholder="Peso de la asignatura" onKeyDown="textCounter(this);" onKeyUp="textCounter(this.form.nombre,this.form.remLen,100);"></p>
		<input type="submit" value="Grabar">
		<input type="reset" value="Limpiar">
	</form>
	<br>
	{{informacion}}
	<br>
{% endblock %}
