{% extends 'base.html' %}
{% block title %}
Adicionar nuevo logro
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function validar() {
		var estaTodoOK = true;
		if (document.getElementById("nombre").value=="") {
			estaTodoOK = false;
		}
		if (document.getElementById("descripcion").value=="") {
			estaTodoOK = false;
		}

		if (!estaTodoOK) {
			alert("Algunos datos tienen errores, por favor corríjalos");	
		}
		return estaTodoOK;
	}
</script>
{% endblock %}
{% block content %}
<h1>Adicionar un nuevo logro</h1>
<br><br>
<form action="." method="POST" onsubmit="return validar();">
{% csrf_token %}
	<select name="asignatura">
		{% for i in asignaturas %}
			<option value="{{i}}">{{i}}</option>
		{% endfor %}
	</select>
	<br>
	<input type="text" name="nombre" id="nombre" placeholder="nombre de logro" onKeyDown="textCounter(this.form.nombre,this.form.remLenN,500);" onKeyUp="textCounter(this.form.nombre,this.form.remLenN,500);">
	<br>
	<input readonly type=text name=remLenN size=3 maxlength=3 value="500"style="width:25px">
	<br>
	<textarea name="descripcion" placeholder="descripcion" onKeyDown="textCounter(this.form.descripcion,this.form.remLenD,2000);" onKeyUp="textCounter(this.form.descripcion,this.form.remLenD,2000);"></textarea>
	<br>
	<input readonly type=text name=remLenD size=5 maxlength=5 value="2000" style="width:40px">
	<br>
	<input type="submit" value="guardar">
	<br>
	<input type="reset" value="Limpiar">
</form>
{% endblock %}
