{% extends 'base.html' %}
{% block title %}
Adicionar nuevo logro
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function validar() {
		var estaTodoOK = true;
		if (document.getElementById("nombre").value=="") {
			estaTodoOK = false;
		}
		if (document.getElementById("descripcion").value=="") {
			estaTodoOK = false;
		}

		if (!estaTodoOK) {
			alert("Algunos datos tienen errores, por favor corríjalos");	
		}
		return estaTodoOK;
	}
</script>
{% endblock %}
{% block content %}
<form action="." method="POST" onsubmit="return validar();">
{% csrf_token %}
	<select name="asignatura">
		{% for i in asignaturas %}
			<option value="{{i}}">{{i}}</option>
		{% endfor %}
	</select>
	<br>
	<input type="text" name="nombre" id="nombre" placeholder="nombre de logro">
	<br>
	<textarea rows="3" name="descripcion" id="descripcion" placeholder="descripcion">
	</textarea>
	<br>
	<input type="submit" value="guardar">
	<br>
	<input type="reset" value="Limpiar">
</form>
{% endblock %}
