<html>
	<head>
		<title>Adicionar nuevo logro</title>
	</head>
	<body>
		<center>
			<form action="." method="POST">
				{% csrf_token %}
				<select name="asignatura">
					{% for i in asignaturas %}
						<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
				<br>
				<input type="text" name="nombre" placeholder="nombre de logro">
				<br>
				<input type="text" name="descripcion" placeholder="descripcion">
				<br>
				<input type="submit" value="guardar">
				<input type="reset" value="Limpiar">
			</form>
		</center>
	</body>
</html>